/* HEADER : Ci-dessous propriétés CSS pour MOBILE avec Media queries */

@media all and (min-width: 1px) and (max-width: 768px)

{
    /* Ci-dessous le header : logo, barre de navigation et titres*/
    .header1
    {
        justify-content: baseline; 
        text-align: center;
        display: block;
        margin-top: -18px;
    }

    .header1 .logobooki
    {
        width: 100px;
    }

    .header1 .navheader
    {
        margin-top: 10px;
        border-bottom: lightgray solid 2px;
        display: flex;
        border-top: none;
    }

    .header1 .navheader .header-a
    {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-top: none;
    padding: 15px 0px;
    width: 50%;
    margin-right: 0%;
    }

    .header1 .navheader .header-a:hover
    {
    border-bottom: #0065FC solid 2px; 
    color:#0065FC;
    }

    .header2 .ligne2 .titreprincipal 
    {
        text-align: justify;
        margin-right: 50px;
        font-size: 22px;
    }

    .header2 .ligne2 .soustitre
    {
        font-size: 16px;
    }

    /* Ci-dessous le partie filtres + "i"*/    
    .header2 .divfiltres .blocfiltres
    {
        flex-wrap: wrap;
        margin-right: -55px;
        padding: 2px;
    }

    .header2 .divfiltres
    {
        flex-direction: column;
    }

    .header2 .divfiltres .all-filtres .blocfiltres
    {
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
        margin: auto;
    }

    .header2 .divfiltres .h2filtre
    {
        padding-left: 0px;
    }

    .header2 .info
    {
        text-align: justify;
        display: inline-block;
        margin-right: 25px;
    }

    .header2 .info p
    {
        display: flex;
    }
   
    .economique
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 110px;
    padding-right: 10px;
    padding: 2px;
    }

    .familial
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 150px;
    padding-right: 10px;
    padding: 2px;
    }

    .romantique
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 120px;
    padding-right: 10px;
    padding: 2px;
    }

    .animaux
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 75px;
    padding-right: 10px;
    padding: 3px;
    }

    /*Ci-dessous le formulaire de recherche*/
    .header2 .barre-recherche .formulaire .searchbutton
    {
        display: none;
    }

    .header2 .barre-recherche .formulaire .search
    {
        width: 225px;
    }

    .header2 .barre-recherche .formulaire .loupe
    {
        border: 2px #f2f2f2;
        border-radius: 14px;
        height: 33px;
        width: 35px;
        background-color: #0065FC;
        color: white;
        position: relative;
        right: 15px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    /*Ci-dessous la partie main*/

    .milieu-page
    {
        margin: auto;
        width: auto;
        height: auto;
        padding: auto;
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
    }

    .milieu-page .logements
    {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        margin: auto;
        height: auto;
        padding: auto;
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
    }

    .milieu-page .logements .cartes
    {
        margin:auto;
        padding: auto;
        width: auto;
        height: auto;
        background-color: white;
        border: white;
        margin-top: 30px;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
    }

    /*Ci-dessous partie "les plus populaires"*/
    .milieu-page .logements .populaires
    {
        margin:auto;
        padding: auto;
        width: auto;
        height: 655px;
        margin-top: 30px;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
    }

    .milieu-page .logements .populaires .start-populaire
    {
        margin-top: 20px;
        text-align: justify;
    }

    .milieu-page .logements .populaires .start-populaire .titrepopulaire
    {
        display: inline-flex;
        margin-left: 10px;
        font-size: 17px;
        font-weight: bolder;
    }

    .milieu-page .logements .populaires .start-populaire i 
    {
        position: relative;
        right: 10px;
    }

    .milieu-page .logements .populaires .logements-populaires .card-populaires .liencarte-populaires .bloc-card-populaires
    {
        width: 330px;
        margin-left: 10px;
    }
}

/* HEADER : Ci-dessous propriétés CSS pour Tablette avec Media queries */

@media all and (min-width: 769px) and (max-width: 992px)

{
  
}