/* HEADER : Ci-dessous propriétés CSS pour MOBILE avec Media queries */

@media all and (min-width: 1px) and (max-width: 768px)

{
    
    .header1
    {
        justify-content: baseline; 
        text-align: center;
        display: block;
        margin-top: -18px;
    }

    .logobooki
    {
        width: 100px;
    }

    .header1 .navheader
    {
        margin-top: 10px;
        border-bottom: lightgray solid 2px;
        display: flex;
    }

    .header1 .navheader a
    {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-top: none;
    padding: 15px 0px;
    width: 50%;
    margin-right: 0%;
    }

    .navheader a:hover
    {
    border-bottom: #0065FC solid 2px; 
    color:#0065FC;
    }

    .navheader
    {
    
    border-top: none;
    }

    .header2 .titreprincipal 
    {
        text-align: justify;
        margin-right: 50px;
        font-size: 22px;
    }

    .soustitre
    {
        font-size: 16px;
    }

    .blocfiltres
    {
        flex-wrap: wrap;
        margin-right: -55px;
        padding: 2px;
    }

    .divfiltres
    {
        flex-direction: column;
    }

    .info
    {
        text-align: justify;
        margin-right: 25px;
    }

    .economique
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 110px;
    padding-right: 10px;
    padding: 2px;
    }

    .familial
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 150px;
    padding-right: 10px;
    padding: 2px;
    }

    .romantique
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 120px;
    padding-right: 10px;
    padding: 2px;
    }

    .animaux
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 75px;
    padding-right: 10px;
    padding: 3px;
    }

    .formulaire .searchbutton
    {
        display: none;
    }

    .formulaire .search
    {
        width: 225px;
    }

    .formulaire .loupe
    {
        border: 2px #f2f2f2;
        border-radius: 14px;
        height: 33px;
        width: 35px;
        background-color: #0065FC;
        color: white;
        position: relative;
        right: 15px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

/* HEADER : Ci-dessous propriétés CSS pour Tablette avec Media queries */

@media all and (min-width: 769px) and (max-width: 992px)

{
  
}