/* HEADER : Ci-dessous propriétés CSS pour Tablette avec Media queries */

@media all and (min-width: 769px) and (max-width: 992px)

{
  .milieu-page .logements
  {
    display: block;
  }

  .milieu-page .logements .cartes 
  {
    width: 100%;
    height: 100%;
  }

  .milieu-page .logements .cartes
  {
    width: 100%;
    margin: auto;
    clear: both;
    height: 100%;
  }

  .milieu-page .logements .populaires
  {
    width: 100%;
    margin-left: 0px;
  }
  
  .milieu-page .logements .populaires .start-populaire
  {
    width: 98%;
  }

  .milieu-page .logements .populaires .logements-populaires
  {
    width: 98%;
  }

  .milieu-page .logements .populaires .logements-populaires .card-populaires .liencarte-populaires .bloc-card-populaires
  {
    margin-top: 50px;
  }

  .milieu-page .activités-marseille .activités .div-activités
  {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .milieu-page .activités-marseille .activités .div-activités .block-activite
  {
    max-width: 430px;
  }
  
}


/* HEADER : Ci-dessous propriétés CSS pour MOBILE avec Media queries */

@media all and (max-width: 768px)

{
    /* Ci-dessous le header : logo, barre de navigation et titres*/
    .header1
    {
        justify-content: baseline; 
        text-align: center;
        display: block;
        margin-top: -18px;
    }

    .header1 .logobooki
    {
        width: 100px;
    }

    .header1 .navheader
    {
        margin-top: 10px;
        border-bottom: lightgray solid 2px;
        display: flex;
        border-top: none;
    }

    .header1 .navheader .header-a
    {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-top: none;
    padding: 15px 0px;
    width: 50%;
    margin-right: 0%;
    }

    .header1 .navheader .header-a:hover
    {
    border-bottom: #0065FC solid 2px; 
    color:#0065FC;
    }

    .header2
    {
        margin-left: 10px;
    }

    .header2 .ligne2 .titreprincipal 
    {
        text-align: justify;
        margin-right: 50px;
        font-size: 22px;
    }

    .header2 .ligne2 .soustitre
    {
        font-size: 16px;
    }

    /* Ci-dessous le partie filtres + "i"*/    
    .header2 .divfiltres .blocfiltres
    {
        flex-wrap: wrap;
        margin-right: -55px;
        padding: 2px;
    }

    .header2 .divfiltres
    {
        flex-direction: column;
    }

    .header2 .divfiltres .all-filtres .blocfiltres
    {
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
        margin: auto;
    }

    .header2 .divfiltres .h2filtre
    {
        padding-left: 0px;
    }

    .header2 .info
    {
        text-align: justify;
        display: inline-block;
        margin-right: 25px;
    }

    .header2 .info p
    {
        display: flex;
    }
   
    .economique
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 110px;
    padding-right: 10px;
    padding: 2px;
    }

    .familial
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 150px;
    padding-right: 10px;
    padding: 2px;
    }

    .romantique
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 120px;
    padding-right: 10px;
    padding: 2px;
    }

    .animaux
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 75px;
    padding-right: 10px;
    padding: 3px;
    }

    /*Ci-dessous le formulaire de recherche*/
    .header2 .barre-recherche .formulaire .searchbutton
    {
        display: none;
    }

    .header2 .barre-recherche .formulaire .search
    {
        width: 225px;
    }

    .header2 .barre-recherche .formulaire .loupe
    {
        border: 2px #f2f2f2;
        border-radius: 14px;
        height: 33px;
        width: 35px;
        background-color: #0065FC;
        color: white;
        position: relative;
        right: 15px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    /*Ci-dessous la partie main*/

    .milieu-page
    {
        margin: auto;
        width: auto;
        height: auto;
        padding: auto;
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
    }

    .milieu-page .logements
    {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        margin: auto;
        height: auto;
        padding: auto;
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
    }

    .milieu-page .logements .cartes
    {
        margin:auto;
        padding: auto;
        width: auto;
        height: auto;
        background-color: white;
        border: white;
        margin-top: 30px;
        padding-left: 0px;
        padding-top: 0px;
        flex-basis: 100%;
        width: 90%;
    }

    /*Ci-dessous partie "les plus populaires"*/

    .milieu-page .logements .cartes .titrehébergements
    {
        width: 95%;
        flex-basis: auto;
    }

    .milieu-page .logements .cartes .hébergements
    {
        height: auto;
        margin-top: 5%;
        display: block;
        width: 100%;
    }

    .mobile-shadow
    {
    margin: 2%;
    box-shadow: 0px 2px 22px 2px lightgray;
    }

    .milieu-page .logements .cartes .hébergements .div-card
    {
        width: 100%;
        height: 260px;
        margin-bottom: 40px;
        margin: 0px;
    }

    .milieu-page .logements .cartes .afficher-plus
    {
        flex-basis: auto;
        width: 90%;
        padding-top: 10%;
    }

    .milieu-page .logements .populaires
    {
        margin:auto;
        padding: auto;
        padding-bottom: 50px;
        width: 100%;
        height: 100%;
        margin-top: 30px;
    }

    .milieu-page .logements .populaires .start-populaire
    {
        text-align: justify;
    }

    .milieu-page .logements .populaires .start-populaire .titrepopulaire
    {
        display: inline-flex;
        font-size: 17px;
        font-weight: bolder;
    }

    .milieu-page .logements .populaires .start-populaire i 
    {
        position: relative;
        right: 10px;
    }

    .milieu-page .logements .populaires .logements-populaires
    {
        width: 90%;
    }

    .milieu-page .logements .populaires .logements-populaires .card-populaires .liencarte-populaires .bloc-card-populaires
    {
        width: auto;
    }

    /*Ci-dessous CSS pour la partie Activités à Marseille*/

    .milieu-page .activités-marseille
    {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        display: block;
    }

    .milieu-page .activités-marseille .activités
    {
        margin: auto;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: auto;
    }

    .milieu-page .activités-marseille .activités .titre-activités
    {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 13px;
    }

    .milieu-page .activités-marseille .activités .div-activités
    {
        flex-direction: column;
        display: block;
        width: auto;
        margin: auto;
        flex-wrap: wrap;
        width: auto;
    }

    .milieu-page .activités-marseille .activités .div-activités .vieux-port
    {
        height : 200px;
        max-width: 90%;
        margin: auto;
    }

    .milieu-page .activités-marseille .activités .div-activités .block-activite
    {
        height : 200px;
        max-width: 90%;
        margin: auto;
    }

    .milieu-page .activités-marseille .activités .div-activités .vieux-port .carte-vieux-port .bloc-card .card .image-card
    {
        height: 150px;
    }

    .milieu-page .activités-marseille .activités .div-activités .vieux-port .carte-vieux-port .bloc-card
    {
        height: 200px;
    }

    .milieu-page .activités-marseille .activités .div-activités .vieux-port .carte-vieux-port .bloc-card .card .card-body
    {
        height: 50px;
    }

    .milieu-page .activités-marseille .activités .div-activités .colonne1
    {
        padding-left: 0px;
        margin-top: 8%;
        height: 460px;
    }

    .milieu-page .activités-marseille .activités .div-activités .colonne1 .pomègues .carte-pomègues .bloc-card .card .image-card
    {
        height: 150px
    }

    .milieu-page .activités-marseille .activités .div-activités .colonne1 .frioul
    {
        margin-top: 0%;
    }

    .milieu-page .activités-marseille .activités .div-activités .colonne1 .frioul .carte-frioul .bloc-card .image-card
    {
        height: 150px;
    }

    .milieu-page .activités-marseille .activités .div-activités .calanques
    {
        margin-left: 0px;
        height: 200px;
    }

    .milieu-page .activités-marseille .activités .div-activités .calanques .carte-calanques .bloc-card
    {
        height: 200px;
    }

    .milieu-page .activités-marseille .activités .div-activités .calanques .carte-calanques .bloc-card .card .image-card
    {
        height: 150px;
    }
    
    .milieu-page .activités-marseille .activités .div-activités .colonne2
    {
        padding-left: 0px;
        margin-top: 8%;
    }

    .milieu-page .activités-marseille .activités .div-activités .colonne2
    {
        padding-left: 0px;
        margin-top: 4%;
        height: 460px;
    }

    .milieu-page .activités-marseille .activités .div-activités .colonne2 .garde .carte-carte .bloc-card .card .image-card
    {
        height: 150px
    }

    .milieu-page .activités-marseille .activités .div-activités .colonne2 .garde
    {
        margin-top: 0%;
    }

    .milieu-page .activités-marseille .activités .div-activités .colonne2 .garde .carte-garde .bloc-card .image-card
    {
        height: 150px;
    }

    .milieu-page .activités-marseille .activités .div-activités .colonne2 .garde .carte-carte .bloc-card .card .image-card
    {
        height: 150px
    }

    .milieu-page .activités-marseille .activités .div-activités .colonne2 .longchamp
    {
        margin-top: 0%;
    }

    .milieu-page .activités-marseille .activités .div-activités .colonne2 .longchamp .carte-longchamp .bloc-card .image-card
    {
        height: 150px;
    }

}

