/* Box sizing appliqué à l'ensemble de la page avec border box et content box + police raleway à l'ensemble de la page*/ 

* 
{
    box-sizing: border-box;
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: "Raleway", sans-serif; 
    font-size: 14px;
}

/* Ci-dessous CSS relatif au HEADER de la page principal WEB*/

.header1
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.header1 .logobooki 
{
    width: 85px;
    padding-left: 40px;
}

.header1 .navheader a
{
    padding: 14px 18px;
    text-decoration: none;
    display: inline-block;
    color:#0065FC;
    margin-right: 55px;
    font-size: 14px
}

.header1 .header-a:hover
{
    border-top: #0065FC solid 1.5px; 
}

.header2
{
    padding-left: 25px;
    text-align: justify;
}

.header2 .ligne2 .titreprincipal
{
    font-weight: 700; 
    font-size: 17px; 
    margin-bottom: 10px;
}

.header2 .ligne2 .soustitre
{
       font-size: 13px ;
}

.header2 .divfiltres .titre2
{
    font-size: 15px;
}

.header2 .divfiltres .titre2 i
{
    font-size: 20px;
}

/* Ci-dessous CSS de la barre de recherche */

.header2 .barre-recherche .formulaire
{
    display: inline-flex;
    padding-top: 18px;
}

.header2 .barre-recherche .formulaire ::placeholder
{
    font-weight: bold;
    color: black;
}

.header2 .barre-recherche .formulaire .fa-location-dot
{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 13px solid #f2f2f2 ;
    height: 7.6px;
    border-radius: 14px 1px 1px 10px; 
    border-right-width: 20px;
    border-left-width: 18px;
    position: absolute right 10px;  
    position: relative;
    bottom: 0px; left: 3.5px; 
}

.header2 .barre-recherche .formulaire .search
{
    border: none;
    border: 1px solid #f2f2f2 ;
    height: 32px;
    border-radius: 3px;
    border-left: none;
    border-right: none;
    margin-left: 1px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    position: relative;
    right: 4px;  
    width: 190px;
}

.header2 .barre-recherche .formulaire .searchbutton
{
    margin-top: 1px;
    background-color: #0065FC;
    border-color: #0065FC;
    border-right-color: transparent;
    border-bottom-color: transparent;
    color: #DEEBFF;
    border-radius: 1px 10px 10px 1px;
    height: 30px;
    width: 110px;
    font-size: larger;
    position: relative;
    right: 5px; bottom: 1px;
    width: 95px;
}

.header2 .barre-recherche .formulaire .loupe
{
    display : none;
}


/* Ci-dessous le CSS pour la partie filtre de la page */

.header2 .divfiltres
{
    display: flex;
    gap: 15px;
    padding-top: 25px;
}

.header2 .divfiltres .blocfiltres
{
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.header2 .divfiltres .blocfiltres .bordure
{
 border: 2px solid #f2f2f2 ;
 height: 32px;
 border-radius: 30px;
 margin-right: 10px;
 padding-right: 10px;
}

.header2 .divfiltres .blocfiltres .titre2:hover
{
   color: #DEEBFF;
   background-color: #0065FC;
   cursor: pointer;
}

.header2 .divfiltres .filtres
{
    padding-top: 11px;
    padding-right: 10px;
}

.header2 .divfiltres .h2filtre
{
    padding-left: 20px;
}

.header2 .divfiltres .blocfiltres .fa-money-bill-wave
{
    color: #0065FC;
    width: 23px;
    height: 23px;
    border: 10px;
    background-color: #DEEBFF;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    padding : 0.40rem;
    padding: auto;
    position: relative;
    right: 3px; bottom: 2px
}

.header2 .divfiltres .blocfiltres .fa-child-reaching
{
    color: #0065FC;
    width: 23px;
    height: 23px;
    border: 10px;
    background-color: #DEEBFF;
    border-radius: 50%;
    text-align: center;
    padding : 0.40rem;
    padding: auto;
    position: relative;
    right: 3px; bottom: 2px
}

.header2 .divfiltres .blocfiltres .fa-heart
{
    color: #0065FC;
    width: 23px;
    height: 23px;
    border: 10px;
    background-color: #DEEBFF;
    border-radius: 50%;
    text-align: center;
    padding : 0.40rem;
    padding: auto;
    position: relative;
    right: 3px; bottom: 2px
}

.header2 .divfiltres .blocfiltres .fa-dog
{
    color: #0065FC;
    width: 23px;
    height: 23px;
    border: 10px;
    background-color: #DEEBFF;
    border-radius: 50%;
    text-align: center;
    padding : 0.40rem;
    padding: auto;
    position: relative;
    right: 3px; bottom: 2px
}

.header2 .info
{
    padding-top: 25px;
    padding-left: 15px;
}

.header2 .info .fa-info
{
    color: #0065FC;
    font-size: 14px;
    text-align:justify;
    height: 18px;
    width: 7px;
    border: 2px solid #f2f2f2 ;
    border-radius: 50px;
    margin-right: 8px;
    padding-right: 5px;
    padding-left: 6px;       
}

/* Ci-dessous le CSS pour la partie cartes (hébergements à Marseille + les plus populaires + activités) */
/*Premièrement la partie cartes hébergement à Marseille */

.milieu-page .logements
{
    display: flex;
}

.milieu-page .logements .cartes
{
    margin-top: 30px;
    margin-left: 35px;
    padding-left: 26px;
    padding-top: 25px;
    border: 1px solid lightgray;
    background-color: rgb(236, 233, 233);
    border-radius: 10px;
    width: 1200px;
    height: 650px;
    font-size: 18px;
}

/*Ci-dessous mise en page des CARD*/

.milieu-page .logements .cartes .hébergements
{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.milieu-page .logements .cartes .titrehébergements
{
    padding-left: 3%;
}

/*Ci-dessous les cards "hébergements à Marseille"*/

.milieu-page .logements .cartes .hébergements .div-card
{
    border: 10px solid white;
    border-width: 25px;
    width: 280px;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
    height: 200px;
}

.cartes .hébergements .div-card .liencarte
{
    color: black;
    text-decoration: none;
    display: block;
}

.milieu-page .logements .cartes .hébergements .div-card .bloc-card .card .image-card
{
    width: 310px;
    border-radius: 20px 20px 0px 0px;
    height: 160px;
    object-fit: cover;
    position: relative;
    bottom: 15px ; right:15px;
}

.milieu-page .logements .cartes .hébergements .div-card .bloc-card .card .card-body
{
    background-color: white;
}

.card-body:hover
{
    color: #0065FC;
}

.milieu-page .logements .cartes .hébergements .div-card .bloc-card .card-body .card-titre
{
    font-size: 22px;
    font-weight: bolder;
}

.milieu-page .logements .cartes .hébergements .div-card .bloc-card .card-body .card-prix
{
    font-size: 12px;
    padding-top: 2%;
}

.milieu-page .logements .cartes .hébergements .div-card .bloc-card .card-body .card-stars
{
    padding-top: 2%;
    font-size: 10px;
    color: #0065FC;
}

.milieu-page .logements .cartes .hébergements .div-card .bloc-card .card-body .greystar
{
    color: lightgray;
}

/* Lien afficher plus ci-dessous*/

.milieu-page .logements .cartes .afficher-plus
{
    padding-top: 50px;
    padding-left: 25px;
}

.milieu-page .logements .cartes .afficher-plus .lien-plus
{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/* Ci-dessous CSS pour la partie "Les plus populaires" */

.milieu-page .logements .populaires
{
    margin-top: 30px;
    margin-left: 100px;
    padding-left: 26px;
    padding-top: 25px;
    border: 1px solid lightgray;
    background-color: rgb(236, 233, 233);
    border-radius: 10px;
    width: 400px;
    height: 500px;
    font-size: 16px;
}

.milieu-page .logements .populaires .start-populaire 
{
    display: flex;
}

.milieu-page .logements .populaires .start-populaire .titrepopulaire
{
    font-weight: bolder;
    font-size: 18px;
}

.milieu-page .logements .populaires .start-populaire .fa-solid
{
    padding-left: 170px;
}

.milieu-page .logements .populaires .logements-populaires
{
    border: 10px solid white;
    border-width: 5px;
    width: 345px;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
}

.milieu-page .logements .populaires .logements-populaires .card-populaires .liencarte-populaires
{
    text-decoration: none;
}

.milieu-page .logements .populaires .logements-populaires .card-populaires .bloc-card-populaires
{
    display: flex;
}

.milieu-page .logements .populaires .logements-populaires .card-populaires .bloc-card-populaires .card-populaires .image-populaires
{
    width: 140px;
    border-radius: 20px 0px 0px 20px;
    height: 125px;
    object-fit: cover;
}


.milieu-page .logements .populaires .logements-populaires .card-populaires .card-body-populaires .text-card-populaires .card-titre-populaires
{
    padding-left: 15%;
    padding-top: 5%;
    font-size: 23px;
    color: black;
    font-weight: bolder;
}

.milieu-page .logements .populaires .logements-populaires .card-populaires .card-body-populaires .text-card-populaires .card-prix-populaires
{
    padding-left: 15%;
    font-size: 13px;
    color: black;
    padding-top: 5%;
    font-weight: 500;
}

.milieu-page .logements .populaires .logements-populaires .card-populaires .card-body-populaires .text-card-populaires .card-stars-populaires
{
    color: #0065FC;
    padding-top: 25%;
    padding-left: 15%;
    font-size: 10px;
}

