/* Box sizing appliqué à l'ensemble de la page avec border box et content box + police raleway à l'ensemble de la page*/ 

* 
{
    box-sizing: border-box;
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
    
}

body
{
    font-family: "Raleway", sans-serif; 
    font-size: 14px;
}

/* Ci-dessous CSS relatif au HEADER de la page principal WEB*/


.logobooki 
{
    width: 85px;
    padding-left: 40px;
}


.titreprincipal
{
    font-weight: 700; 
    font-size: 17px; 
    margin-bottom: 10px;
   }

.soustitre
{
       font-size: 13px ;
}

.header1
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.header2
{
    padding-left: 25px;
    text-align: justify;
}

.bordure
{
 border: 2px solid #f2f2f2 ;
 height: 32px;
 border-radius: 30px;
 margin-right: 10px;
 padding-right: 10px;
}

.header2 .divfiltres .titre2
{
    font-size: 15px;

}

.header2 .divfiltres .titre2 i
{
    font-size: 20px;

}

.navheader a
{
    padding: 14px 18px;
    text-decoration: none;
    display: inline-block;
    color:#0065FC;
    margin-right: 55px;
    font-size: 14px
}

a:hover
{
    border-top: #0065FC solid 1.5px; 
}

/* Ci-dessous CSS de la barre de recherche */


.formulaire
{
    display: inline-flex;
    padding-top: 18px;
}

.formulaire .fa-location-dot
{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 13px solid #f2f2f2 ;
    height: 8.5px;
    border-radius: 14px 1px 1px 10px; 
    border-right-width: 20px;
    border-left-width: 18px;
    position: absolute right 10px;  
    position: relative;
    bottom: 0.5px; left: 3.5px;    
}

.formulaire .search
{
    border: none;
    border: 1px solid #f2f2f2 ;
    height: 32px;
    border-radius: 3px;
    border-left: none;
    border-right: none;
    margin-left: 1px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    position: relative;
    right: 4px;  
    width: 190px;
}

.formulaire .searchbutton
{
    margin-top: 1px;
    background-color: #0065FC;
    border-color: #0065FC;
    border-right-color: transparent;
    border-bottom-color: transparent;
    color: #DEEBFF;
    border-radius: 1px 10px 10px 1px;
    height: 30px;
    width: 110px;
    font-size: larger;
    position: relative;
    right: 5px; bottom: 1px;
    width: 95px;
}

.formulaire .loupe
{
    display : none
}


/* Ci-dessous le CSS pour la partie filtre de la page */

.divfiltres
{
    display: flex;
    gap: 15px;
    padding-top: 25px;
}

.divfiltres .blocfiltres
{
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.blocfiltres:hover
{
   transform: scale(1.06);
}

.divfiltres .filtres
{
    padding-top: 11px;
    padding-right: 10px;
}

.h2filtre
{
    padding-left: 30px;
}

.divfiltres .blocfiltres .fa-money-bill-wave
{
    color: #0065FC;
    width: 23px;
    height: 23px;
    border: 10px;
    background-color: #DEEBFF;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    padding : 0.40rem;
    padding: auto;
    position: relative;
    right: 3px; bottom: 2px
}

.divfiltres .blocfiltres .fa-child-reaching
{
    color: #0065FC;
    width: 23px;
    height: 23px;
    border: 10px;
    background-color: #DEEBFF;
    border-radius: 50%;
    text-align: center;
    padding : 0.40rem;
    padding: auto;
    position: relative;
    right: 3px; bottom: 2px
}

.divfiltres .blocfiltres .fa-heart
{
    color: #0065FC;
    width: 23px;
    height: 23px;
    border: 10px;
    background-color: #DEEBFF;
    border-radius: 50%;
    text-align: center;
    padding : 0.40rem;
    padding: auto;
    position: relative;
    right: 3px; bottom: 2px
}

.divfiltres .blocfiltres .fa-dog
{
    color: #0065FC;
    width: 23px;
    height: 23px;
    border: 10px;
    background-color: #DEEBFF;
    border-radius: 50%;
    text-align: center;
    padding : 0.40rem;
    padding: auto;
    position: relative;
    right: 3px; bottom: 2px
}

.info
{
    padding-top: 25px;
}

.fa-info
{
    color: #0065FC;
    font-size: 14px;
    text-align:justify;
    height: 18px;
    width: 7px;
    border: 2px solid #f2f2f2 ;
    border-radius: 50px;
    margin-right: 8px;
    padding-right: 5px;
    padding-left: 6px;       
}

/* Ci-dessous le CSS pour la partie cartes (hébergements à Marseille + les plus populaires + activités) */

.cartes
{
    margin-top: 30px;
    margin-left: 22px;
    padding-left: 26px;
    padding-top: 25px;
    border: 1px solid lightgray;
    background-color: rgb(236, 233, 233);
    border-radius: 10px;
    width: 1000px;
    height: 500px;
    font-size: 16px;
}

.cannebière
{
    border: 10px solid white;
    border-width: 5px;
    width: 220px;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
}

.bloc-cannebière .card-cannebière .image-cannebière
{
    width: 220px;
    border-radius: 20px 20px 0px 0px;
    height: 125px;
    object-fit: cover;
}

.card-body-cannebière
{
    background-color: white;

}

.card-titre-cannebière
{
    padding-left: 10px ;
    font-size: 20px;
}

.card-prix-cannebière
{
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
}

.card-stars-cannebière
{
    padding-left: 10px;
    padding-top: 5px;
    font-size: 10px;
    color: #0065FC;
}

.greystar
{
    color: lightgray;
}

.liencarte
{
    color: black;
    text-decoration: none;
}
