/* Box sizing appliqué à l'ensemble de la page avec border box et content box + police raleway à l'ensemble de la page*/ 

* 
{
    box-sizing: border-box;
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
    
}

body
{
    font-family: "Raleway", sans-serif; 
    font-size: 14px;
}

/* Ci-dessous CSS relatif au header de la page principal WEB*/


.logobooki 
{
    width: 70px;
    padding-left: 40px;
}


.titreprincipal
{
    font-weight: 700; 
    font-size: 17px; 
    margin-bottom: 10px;
   }

.soustitre
{
       font-size: 13px ;
}

.header1
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.header2
{
    padding-left: 25px;
    text-align: justify;
}

.bordure
{
 border: 2px solid #f2f2f2 ;
 height: 32px;
 border-radius: 30px;
 margin-right: 10px;
 padding-right: 10px;
}

.header2 .divfiltres .titre2
{
    font-size: 15px;

}

.header2 .divfiltres .titre2 i
{
    font-size: 20px;

}


.navheader a
{
    padding: 14px 18px;
    text-decoration: none;
    display: inline-block;
    color:#0065FC;
    margin-right: 55px;
    font-size: 14px
}

a:hover
{
    border-top: #0065FC solid 1.5px; 
}

.divfiltres
{
    display: flex;
    gap: 15px;
    padding-top: 25px;
}

.blocfiltres
{
    display: inline-block;
}

.filtres
{
    padding-top: 11px;
}

.fa-money-bill-wave
{
    color: #0065FC;
    width: 20px;
    height: 20px;
    border: 10px;
    background-color: #DEEBFF;
    border-radius: 50%;
    text-align: center;
    padding : 0.40rem
}

.fa-child-reaching
{
    color: #0065FC;
    width: 20px;
    height: 20px;
    border: 10px;
    background-color: #DEEBFF;
    border-radius: 50%;
    text-align: center;
    padding : 0.40rem
}

.fa-heart
{
    color: #0065FC;
    width: 20px;
    height: 20px;
    border: 10px;
    background-color: #DEEBFF;
    border-radius: 50%;
    text-align: center;
    padding : 0.40rem
}

.fa-dog
{
    color: #0065FC;
    width: 20px;
    height: 20px;
    border: 10px;
    background-color: #DEEBFF;
    border-radius: 50%;
    text-align: center;
    padding : 0.40rem
}

.info
{
    padding-top: 25px;
}

.fa-info
{
    color: #0065FC;
    font-size: 14px;
    text-align:justify;
    height: 18px;
    width: 7px;
    border: 2px solid #f2f2f2 ;
    border-radius: 50px;
    margin-right: 8px;
    padding-right: 5px;
    padding-left: 6px;       
}

/* Ci-dessous propriétés CSS pour MOBILE avec Media queries */

@media all and (min-width: 1px) and (max-width: 768px)

{
    
    .header1
    {
        justify-content: baseline; 
        text-align: center;
        display: block;
        margin-top: -18px;
    }

    .logobooki
    {
        width: 100px;
    }

    .header1 .navheader
    {
        margin-top: 10px;
        border-bottom: lightgray solid 2px;
    }

    .navheader a
    {
    padding: 10px 9px;
    text-decoration: none;
    display: inline-block;
    color:#0065FC;
    font-size: 16px;
    border-top: none;
    }

    .navheader:hover
    {
    border-bottom: #0065FC solid 2px; 
    border-top: none;
    }

   
    .header2 .titreprincipal 
    {
        text-align: justify;
        margin-right: 50px;
        font-size: 22px;
    }

    .soustitre
    {
        font-size: 16px;
    }

    .blocfiltres
    {
        flex-wrap: wrap;
        margin-right: -55px;
        padding: 2px;
    }

    .divfiltres
    {
        flex-direction: column;
    }

    .info
    {
        text-align: justify;
        margin-right: 25px;
    }

    .economique
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 110px;
    padding-right: 10px;
    padding: 2px;
    }

    .familial
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 150px;
    padding-right: 10px;
    padding: 2px;
    }

    .romantique
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 120px;
    padding-right: 10px;
    padding: 2px;
    }

    .animaux
    {
    border: 2px solid #f2f2f2 ;
    height: 32px;
    border-radius: 50px;
    margin-right: 75px;
    padding-right: 10px;
    padding: 3px;
    }
}